<?xml version="1.0"?>
<phpunit colors="true">
	<testsuites>
		<testsuite>
			<directory suffix=".test.php">test</directory>
		</testsuite>
	</testsuites>

	<logging>
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="true" />
	</logging>

	<filter>
		<whitelist>
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>