<?xml version="1.0"?>
<phpunit colors="true">
	<testsuites>
		<testsuite name="main">
			<directory suffix="Test.php">.</directory>
		</testsuite>
	</testsuites>

	<logging>
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="true" />
		<log type="coverage-html" target="./_coverage" lowUpperBound="35" highLowerBound="70" />
	</logging>

	<filter>
		<whitelist>
			<directory suffix=".php">../../src</directory>
		</whitelist>
	</filter>
</phpunit>